.studentMenu .studentMenu-btn {
  background-size: 20px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.studentMenu .studentMenu-fontBtn {
  pointer-events: none;
}

.studentMenu .studentMenu-btn:hover {
  border-radius: 100%;
  background-color: #d8d6d6;
}

.studentMenu .studentMenu-btn:focus {
  border-radius: 100%;
  background-color: #c0c0c0;
}

.studentMenu .studentMenu-content {
  align-items: flex-start;
  position: absolute;
  height: auto;
  width: auto;
  right: 7%;
  padding: 5px;
  background: #fff;
  box-shadow: 2px 2px 5px 2px rgb(183, 183, 183);
  color: #333;
  border-radius: 5px;
}

.studentMenu .studentMenu-content .studentMenu-item {
  font-size: 12px;
  color: #9eadbd;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.studentMenu .studentMenu-content .studentMenu-item:hover {
  background: #f4f4f4;
}

.studentMenu .studentMenu-content .studentMenu-item:focus {
  border-radius: 10px;
  background: #98dfff;
  color: #333;
}


.studentMenu-define {
  padding-top: 5px;
}