*{
    list-style: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    padding-top: 40px;
    background-color: #F3F7F9;
    /* transition: all 0.5s ease; */
}

/* Здесь начинается сайдбар */

.sidebar ul {
    padding: 0%;
}

.sidebar b {
    padding-left: 30px;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    position: relative;
    color: #92A2B5;
    font-size: 14px;
    padding: 10px 30px;
    margin: 0%;
    transition: all 0.1s ease;
}

.sidebar ul li a .icon{
    width: 30px;
    display: inline-block;
}

.sidebar ul li a.active {
    color: #FFF;
    background-color: #007BFF;
}

.sidebar li :hover{
    color: #FFF;
    background-color: #007BFF;
    transition: all 0.2s ease;
}