.sidebar {
    height: 100%;
    width: 320px;
    top: 0;
    left: 0;
    padding-top: 40px;
    position: fixed;
    background-color: #F3F7F9;
    /* transition: all 0.5s ease; */
}

.item {
    
}

.sidebar ul li a {
    display: block;
    position: relative;
    color: #92A2B5;
    font-size: 14px;
    padding: 10px 30px;
    margin: 0%;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #FFF;
    background-color: #007BFF;
}

.sidebar li :hover{
    background-color: #007BFF;
    color: #FFF;
}