.destinationTrue {
    background-color: var(--success-color);
}

.tdTrue {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 25%;
    background-color: var(--success-color);
}

.tdFalse {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
}