:root {
  --box-bg: rgb(234, 234, 234);
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} 
/* Ух ты, выше это переменные в CSS к которым обращаемся */

.box {
  padding: 30px;
  border-radius: 15px;
}

.header {
  /* text-transform: uppercase;
  font-size: 1.4rem;
  color: #576372;
  font-weight: bold;
  cursor: pointer; */
}

.header-upload {
  text-align: center;
  padding: 30px;
}