.form-label {
  color: #576372;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mainSettings {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 2px 2px 5px 2px rgb(219, 219, 219);
}

.settingSafe{
  opacity: 0;
}

.activeSafe{
  opacity: 100;
  background-color: #bdffd9;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.3s ease;
}