:root{
  /*Палитра*/
  /*Цвет фона навбара*/
  --light-blue: #f3f7f9;
  /*Цвет шрифта навбара*/
  --font-grey: #92a2b5;
  /*Цвет бургер-меню, названий вкладок и тд*/
  --dark-grey: #576372;
  /*Цвет кнопок, взаимодействия*/
  --blue-action: #007bff;
  /*Для всех успешных действий*/
  --success-color: #c8f5e6;
  /*Отмечаем студентов на каникулах*/
  --vacation-color: #D5DBF0;
   /*Отмечаем студентов со свободным графиком*/
  --free-color: #ace3f3;
  /*Для успешно загруженных списков*/
  --check-success-color: #87A878;
  /*Цвет ошибок и провальных действий*/
  --error-color: #fd9c96;
  /*Белый цвет*/
  --default-white: #fff;
  /*Задний фон дропфайла*/
  --dropFile-bgc: #ecf2fe;
  /*Цвет иконок файлов*/
  --excel-file: #14CC60;


  /*Шрифт*/
  /*Основной шрифт*/
  --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /*Размер шрифта*/
  --default-font-size: 0.8rem;
  /*Размер заголовков*/
  --header-font-size: 1.2rem;

  /*Верстка*/
  /*Дефолтная тень для блоков*/
  --default-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /*Стандартный отступ*/
  --default-indent: 2.5rem;
  /*Стандартный отступ для навбара (сверху и для символов)*/
  --default-navbar-indent: 1rem;
  /*Стандартный отступ слева*/
  --default-left-indent: 3rem;
  /*Стандартный скругление*/
  --default-radius: 10px;
}

.App {
  text-align: center;
  height: 100vh;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--light-blue);
  min-height: 100vh;
}

.pageContent {
  width: 100%;
  padding-top: var(--default-indent);
  padding-inline: var(--default-left-indent);
}

.burger-btn {
  color: var(--dark-grey);
  margin-top: var(--default-indent);
  margin-left: var(--default-indent);
  cursor: pointer;
}

.header {
  text-transform: uppercase;
  font-size: var(--header-font-size);
  color: var(--dark-grey);
  font-weight: bold;
  cursor: default;
}

.load_spinner{
  color: var(--dark-grey);
}

.colorMap{
  box-shadow: var(--default-shadow);
  border-radius: var(--default-radius);
  margin-right: 1rem;
  font-family: var(--main-font);
  font-size: var(--default-font-size);
  text-transform: uppercase;
  font-weight:600;
}

.colorMap_enoughPoints{
  background-color: var(--success-color);
}

.colorMap_vacation{
  background-color: var(--vacation-color);
}

.colorMap_free{
  background-color: var(--free-color);
}

.pleaseDistribute{
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--error-color);
}

.authorizationContainer{
  box-shadow: var(--default-shadow);
  border-radius: var(--default-radius);
  padding: 2rem;
}

.instruction1{
    box-shadow: var(--default-shadow);
    border-radius: 20px;
    padding: 2rem;
    height: auto;
    font-family: var(--main-font);
    color: var(--dark-grey);
}

.instrH{
  font-size: 1.5rem;
}

.instrH2{
  font-weight: bold;
}