.form-label {
  color: var(--dark-grey);
  font-size: var(--default-font-size);
  font-family: var(--main-font);
  text-transform: uppercase;
}
.mainSettings {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: var(--default-shadow);
  border-radius: var(--default-radius);
}

.settingSafe{
  opacity: 0;
}

.activeSafe{
  opacity: 100;
  background-color: #bdffd9;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.3s ease;
}