/* сам блок сайдбара */
.nav-menu-items {
  top: 0;
  left: 0;
  padding-top: 6rem;
  padding-left: 0%;
  margin: 0%;
  background-color: #f3f7f9;
}

/* сами блоки, ну которые "загрузить списки", "настройка рейтинга" итд */
.nav-text a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #92a2b5;
  font-size: 0.9rem;
  padding: 8px 40px;
  margin: 0%;
}

/* лейблы, ну которые "РАБОТА СО СПИСКАМИ" и тд */
.nav-menu-items b {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  color: #576372;
  padding-left: 40px;
}

/* активная ячейка */
#active a {
  color: #fff;
  background-color: #007bff;
}

/* наводим на ячейку*/
.nav-text a:hover {
  color: #fff;
  background-color: #007bff;
  transition: all 0.2s ease;
}

/* 
классы ниже лютая дрисня и так делать не надо,
 а как делать надо я не знаю
 */
.icon {
  width: 30px;
}

.item {
  padding-left: 20px;
}

.burgerBar {
  position: absolute;
  color: #576372;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  cursor: pointer;
}
