.dropdown {
    user-select: none;
    position: relative;
}

.dropdown b {
    font-size: 20px;
    color: #576372;
}

.dropdown .dropdown-btn {
    font-weight: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 120%;
    padding: 15px;
    background: #FFF;
    box-shadow: 2px 2px 5px 2px rgb(183, 183, 183);
    color: #333;
    width: 25%;
}

.dropdown .dropdown-content .dropdown-item {
    font-size: 14px;
    color: #9EADBD;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
    background: #f4f4f4;
}