.App {
  text-align: center;
}

.content {
  display: flex;
  border: 1px solid red;
  height: 100vh;
}

.sidebar {
  border: 1px solid rgb(255, 238, 0);
  background-color: #F3F7F9;
}

.pageContent {
  width: 100%;
  border: 2px solid rgb(30, 255, 0);
}

.listload {
  padding-inline: 50px;
}