.App {
  text-align: center;
}

.content {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #F3F7F9;
}

.pageContent {
  width: 100%;
  padding-top: 2rem;
  padding-inline: 50px;
}
