/* сам блок сайдбара */
.mainMenu {
  width: 7rem;
  transform: translateX(-200%);
  transition: 350ms;
}

.active {
  width: auto;
  transform: translateX(0);
}

.nav-menu-items {
  padding-top:var(--default-navbar-indent);
  padding-left: 0%;
}

/* сами блоки, ну которые "загрузить списки", "настройка рейтинга" итд */
.nav-text a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-grey);
  font-size: var(--default-font-size);
  padding: 8px var(--default-indent);
}

/* лейблы, ну которые "РАБОТА СО СПИСКАМИ" и тд */
.nav-menu-items p {
  font-family: var(--main-font);
  font-size: var(--default-font-size);
  color: var(--dark-grey);
  padding-left: var(--default-indent);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: var(--default-navbar-indent);
  margin-top: var(--default-navbar-indent);
}

/* активная ячейка */
#active a {
  color: var(--default-white);
  background-color: var(--blue-action);
}

/* наводим на ячейку*/
.nav-text a:hover {
  color: var(--default-white);
  background-color: var(--blue-action);
  transition: all 0.2s ease;
}

.item {
  padding-left: var(--default-navbar-indent);
}
